@font-face {
    font-family: 'varesha';
    font-style: normal;
    font-weight: normal;
    src: local('varesha'), url('Varesha.woff') format('woff');
    }

html {
    background-color: white;
    display: inline;
    justify-content: center;
    width: auto;
}
body .image {
    /background-image: url(images/bg.jpeg);
    margin: 0 2%;
}

 nav .navbar-brand {
    font-size: 2rem;
    font-family: 'varesha' !important;
}

* {
    text-align: center;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
}
div {
    font-family: "manrope", sans-serif;
    font-weight: 100;

}
ul li {
    text-align: left;
}

* .jumbotron {
    font-weight: 500 !important;
}

.bg-info {
    background-color: black !important;
}

.border-info {
    border-color: #002eff !important;
}
